.ball,.ballphone{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;

}
.verticalline{
    width: 3px;
    height: 5rem;
    background-color: white;
    margin-left: rem;
}
.line-container{
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maincontainer{
    display: flex;
}

@media screen and (max-width:600px) {
    .line-container{
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .ballphone{
        display: none;
    }
}
