.whiteBall{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    margin-top: 6px ;
}


.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 12%;
}

.experience__container>div{
    background:var(--color-variant);
    padding:  2.4rem  5rem;
    border-radius: 2rem;
    border:  1px solid transparent;
}

.experience__container>div:hover{
    background:transparent;
    border-color:var(--color-variant);
    transition: var(--transition);
    cursor:default;
}

.experience__container>div h3{
    text-align: center;
    margin-bottom: 2rem;
     font-size: 2rem;
    color: white;
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:600px) {
    .experience__container>div h3{
        font-size: larger;
    }
}